

h1{
  display:flex;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  justify-content: center;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
}

body {
  background-color: #E9E9E9;
}

p{
  padding-left: 20px;
  margin-right: 28%;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 125%;
  float: left;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

img{
  width: 50%;
  height: 50%
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile {
 width:50%;
 height:50%;
 padding-left: 28%;
}

#contact{
  display: flex;
  justify-content: center;
  flex-direction:column;
  justify-content: space-around;
}

#sketch{

}
