

h1{
  display:flex;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 3px;
  justify-content: center;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
}

body {
  background-color: #E9E9E9;
}

p{
  font-size: 1.5rem;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 125%;
  float: left;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

img{
  width: 50%;
  height: 50%;
}

.index{
  display: inline;
}

.about{
  display: block;
  flex-direction: row;
  justify-content: center;
}

.digital{
  margin-bottom: 50px;
}

#indexProf{
  height: 50%;
  width: 50%;
}

#profile {
 width:30%;
 height:30%;
 padding-left: 10%;
}

#bio{
  padding-left: 25px;
  margin-right: 10%;
}

#contact{
  display: flex;
  justify-content: center;
  flex-direction:column;
  justify-content: space-around;
}

#stainedGlass{
  height: 25%;
  width: 25%;
}

#inprogress{
  height: 18.8%;
  width: 18.8%;
}

#caption{
  padding-left: 20px;
}

#welcome{
  margin: 20px 300px 20px 300px;
}
