

h1{
  color: black;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px:
}

body {
  background-color: #E9E9E9;

}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-size: 125%;
  float: left;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

img{
  width: 50%;
  height: 50%
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#profile {
 text-align: center;
 width:40%;
 height: 40%;
 padding-top: 30px;
}

#projects {
margin-bottom: 35px;
}
